{% extends "shop/base.html" %} 
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Confirmer la Suppression</title>
</head>
<style>
    body {
        background-color:rgb(148, 229, 247);
        font-family: Arial, sans-serif;
    }
    
    h1 {
        color: #333;
        text-align: center;
    }

</style> 
<body>
    <h1>Confirmer la Suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimer "{{ Product.name }}" ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Oui, supprimer</button>
        <a href="{% url 'liste_clients' %}">Annuler</a>
        
    </form>
</body>
</html>
{% endblock %}